@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
  scroll-behavior: smooth;
}

@theme {
  /* Fuentes */
  --font-manrope: 'Manrope', serif;
  --font-open-sans: 'Open Sans', serif;

  /* Colores */
  --color-orange: #e4a736;
  --color-default: #212121;
  --color-mid-blue: #081538; 
  --color-dark-blue: #00071b; 
  --color-mid-green: #09876BFF;
}

@keyframes border-header {
  0% {
    border: solid 1px transparent;
  }
  100% {
    border-bottom: solid 1px black;
    padding: 12px 0;
  }
}

header {
  animation: border-header forwards;
  animation-timeline: scroll();
  animation-range: 10% 20%
}

@layer {
  .section {
    @apply bg-dark-blue w-full h-svh max-h-[650px] text-white text-center snap-center scroll-mt-16;
  }
}

@import "tailwindcss"
