@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  scroll-behavior: smooth;
}


@theme {
  /* Fonts */
  --font-manrope: 'Manrope', serif;
  --font-open-sans: 'Open Sans', serif;
  --font-poppins: 'Poppins', serif;

  /* Colors */
  --color-default: #1a1a1a;
  --color-default-bg: #f3f4f6;
  --color-orange-light: #e1d2b6;
  --color-orange: #e5a42b;
  --color-max-orange: #ffa600;
  --color-mid-blue: #081538; 
  --color-dark-blue: #000c2b;
  --color-mid-green: #29765b;
  --color-separation-block: #e3e4ed;
  --color-low-gray: #f5f5f6;

  --shadow-circle: 0 0 10px 3px #87878749;

  --container-8xl: 1440px;

  /* Animations */
  --animate-change-color: change-color 3s infinite alternate;
  --animate-transform-header: change-header 1s forwards;

  @keyframes change-color {
    0% {
      color: red;
    }
    50% {
      color: blue;
    }
    100% {
      color: yellow;
    }
  }

  @keyframes change-header {
    0% {
      background-color: transparent;
      border: solid 1px transparent;
    }

    100% {
      background-color: var(--color-default-bg);
      border-bottom: solid 1px rgba(0, 0, 0, 0.259);
      padding: 12px 0;
    }
  }
}

@layer components {
  .aptitude {
    @apply relative bg-dark-blue/50 text-white flex items-center justify-center gap-2 overflow-hidden;
  }

  .section {
    @apply w-full h-svh max-h-[700px] text-black snap-center scroll-mt-14 grid place-items-center;
  }

  .button {
    @apply bg-black text-white font-semibold w-fit m-auto cursor-pointer hover:bg-transparent transition-colors;
  }

  .field-form {
    @apply flex flex-col gap-1;
  }
}

header {
  animation-timeline: scroll();
  animation-range: 18% 25%;
}

@import "tailwindcss"
